{% for post in posts %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></h2>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ post.timestamp }}">{{ moment(post.timestamp).fromNow() }}</time>
            <a href="{{ url_for('.user', username=post.author.username) }}" class="author"><img src="{{ post.author.gravatar(size=40) }}" style="margin-right:8px" alt="{{ post.author.username }}'s avatar" /><span class="name">{{ post.author.username }}</span></a>
        </div>
    </header>

    <a href="{{ url_for('.post', id=post.id) }}" class="image featured"><img src="{{ url_for('static', filename='pic01.jpg') }}" alt="" /></a>
    <p>
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
    </p>

    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Continue Reading</a></li>
            {% if current_user == post.author %}
            <li><a href="{{ url_for('.edit', id=post.id) }}" class="button big">Edit</a></li>
            {% elif current_user.is_administrator() %}
            <li><a href="{{ url_for('.edit', id=post.id) }}" class="button big">Edit [Admin]</span>
            </a></li>
            {% endif %}
        </ul>
        <ul class="stats">
            <li><a href="{{ url_for('.post', id=post.id) }}">Permalink</a></li>
            <li><a href="{{ url_for('.post', id=post.id) }}#comments" class="icon fa-comment">{{ post.comments.count() }}</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
        </ul>
    </footer>
</article>
{% endfor %}
