{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<!--[if lte IE 8]><script src="{{ url_for('static', filename='html5shiv.js') }}"></script><![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='ie9.css') }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='ie8.css') }}" /><![endif]-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

<div id="wrapper">

{% block navbar %}
<header id="header">
    <h1><a href="{{ url_for('main.index') }}">unroots</a></h1>
    <nav class="links">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
            {% endif %}
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="{{ url_for('main.index') }}">
                    <h3>Home</h3>
                    <p>back to the home page</p>
                </a>
            </li>
            {% if current_user.is_authenticated %}
            
            <li>
                <a href="{{ url_for('main.user', username=current_user.username) }}">
                    <img src="{{ current_user.gravatar(size=64) }}">
                    <h3>Profile</h3>
                    <p>view your user profile</p>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth.login') }}">
                    <h3>Log In</h3>
                    <p>access your user account</p>
                </a>
            </li>
            {% endif %} 
        </ul>
    </section>

    <!-- Actions -->
    <section>
        <ul class="actions vertical">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.change_password') }}" class="button big fit">Change Password</a></li>
            <li><a href="{{ url_for('auth.change_email_request') }}" class="button big fit">Change Email</a></li>
            
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}" class="button big fit">Moderate Comments</a></li>
                {% endif %}

            <li><a href="{{ url_for('auth.logout') }}" class="button big fit">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}" class="button big fit">Log In</a></li>
            {% endif %}
        </ul>
    </section>

</section>
{% endblock %}

{% block content %}
<div id="main">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='util.js') }}"></script>
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='respond.min.js') }}"></script><![endif]-->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
